
@{
    ViewData["Title"] = "DashBoard";
    Layout = "_BasicAdminLayout";
}

<div class="container">
    <div class="row justify-content-center p-2">
        <h2>Панель управления администратора</h2>
    </div>
    <center>
        <br />
        <a href="/admin/report?reportType=orders" class="btn btn-primary">Сгенерировать отчет по заказам</a>
        <a href="/admin/report?reportType=users" class="btn btn-primary">Сгенерировать отчет по пользователям</a>
    </center>
        

</div>


