@model IEnumerable<string>
@{
    ViewData["Title"] = "ChooseDoer";
    Layout = "_BasicLayout";
}

<div class="container">
    <div class="row justify-content-center p-2">
        <h2>Выбор исполнителя</h2>
    </div>
    <div class="table-responsive table-hover table-striped table-bordered">
        <table class="table">
            <thead>
                <tr>
                    <th>Исполнитель</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var doer in Model)
                {
                <tr>
                    <th>
                        <a href="/Profile/UserProfile?login=@doer">@doer</a>
                    </th>
                    <th>
                        <center>
                            <a href="/userorders/ChooseDoerAction?orderId=@ViewBag.OrderId&doerLogin=@doer" type="button" class="btn btn-info">Выбрать в качестве исполнителя</a>
                        </center>
                    </th>
                </tr>
                 } 

            </tbody>
        </table>
    </div>
</div>
